<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>MCT Summit Brasil 2016</h1>
                        <h2>03 e 04 de Dezembro</h2>
                        <a href="#evento" class="btn btn-outline btn-xl page-scroll">Participe!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="images/logo-summit.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="evento" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Presencial ou remoto? Ambos!</h2>
                <p>Este Summit será um pouco diferente. Todas as sessões serão online, via GoToMeeting.</p>
                <div class="row">
                    <div class="col-md-6 text-center"><i class="fa fa-5x fa-group"></i><p>Hospede um grupo na sua cidade e crie seu evento local. O coffee break será patrocinado.</p></div>
                    <div class="col-md-6 text-center"><i class="fa fa-5x fa-television"></i><p>Acompanhe todo o evento pela internet e interaja com seus colegas no Saguão, sala permanente de tema livre!</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="agenda" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Agenda</h2>
                    <p class="text-muted">Trilhas técnicas e softskills, mais o saguão para conversar com MCTs de todo o Brasil.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 date-slot">Sábado 03</div>
                        <div class="col-md-4 date-slot">Domingo 04</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 time-slot">9:00 - 10:15</div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 session"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-4 session"><div class="session-content">&nbsp;</div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 time-slot">10:30 - 11:45</div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 session"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-4 session"><div class="session-content">&nbsp;</div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 time-slot">13:00 - 14:15</div>
                        <div class="col-md-2 lobby"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-2 session"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-2 session"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-4 session blank">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 time-slot">14:30 - 15:45</div>
                        <div class="col-md-2 lobby"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-2 session"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-2 session"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-4 session blank">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 time-slot">16:00 - 17:15</div>
                        <div class="col-md-2 lobby"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-2 session"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-2 session"><div class="session-content">&nbsp;</div></div>
                        <div class="col-md-4 session blank">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Call for Speakers</h2>
                    <a href="/session" class="btn btn-outline-white btn-xl">Ajude-nos a fazer o Summit ainda melhor!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="hospede" class="cta">
    <div class="cta-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Reuna os MCTs da sua região!</h2>
                    <a href="/host" class="btn btn-outline btn-xl">Quero ser um host!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="inscricao" class="contact bg-primary">
    <div class="container">
        <h2><a href="#">Inscreva-se</a> e participe!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="https://twitter.com/hashtag/MCTSummitBR2016?src=hash"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
        </ul>
    </div>
</section>